.modelReport
{
    width:75%;
    height:auto;
    margin: 0 auto;
    margin-top:2em;
    margin-bottom:2em;
    padding: 0;
    border:1px solid #1896CC;
}

.modelReport-Title
{
    width:100%;
    height:auto;
    margin: 0 auto;
    margin-top:0.5em;
    padding-top:1em;
    padding-bottom:1em;
    font-size:120%;
    text-align:center;
    border-bottom:1px solid #1896CC;
}

.modelReport-item
{
    clear:both;
    margin: 0 auto;
    padding-top:1em;
    padding-left:1em;
    text-align: center;
    font-size:90%;
    overflow:hidden;
}

.modelReport-item img
{
    float:left;
    width:20px;
    height:20px;
}

.modelReport-item-success,
.modelReport-item-nosuccess
{
    float:left;
    line-height:20px;
    margin-left:0.5em;
    font-size:90%;
}