.modelReport
{
    width:75%;
    min-width: 960px;
    height:auto;
    margin: 0 auto;
    margin-top:2em;
    margin-bottom:2em;
    padding: 0;
}

.modelReport-Title
{
    width:98%;
    height:auto;
    margin: 0 auto;
    margin-top:0.5em;
    padding-bottom:0.5em;
    font-size:110%;
    font-weight:bold;
    text-align:center;
}

.modelReport-exists
{
    padding:1em;
}

.modelReport-exists a
{
    margin-left:1em;
    color:#1896CC;
}

.modelReport-container
{
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width:98%;
    height:auto;
    margin: 1em auto;
}

.modelReport-Header
{
    width:100%;
    padding:0.5em;
    font-size:90%;
    border-bottom:1px solid #707070;
}

.modelReport-item
{
    clear:both;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width:100%;
    margin: 0 auto;
    text-align: center;
    font-size:90%;
    border-bottom: 1px solid #707070;
    border-right: 1px solid #707070;
    overflow:hidden;
}

.modelReport-totalValidation
{
    width:100px;
    height:1em;
    padding:1em;
    font-size:90%;
    text-align: center;
}

.modelReport-totalErrorTypes
{
    clear:both;
    float:left;
    width:790px;
    margin-left:1em;
}

.modelReport-goBack
{
    position:absolute;
    width:150px;
    height:1em;
    top: 3.5em;
    left:1%;
    padding-top:1.5em;
}

.modelReport-goBack a
{
    padding:0.5em;
    font-size:80%;
    color:#FFFFFF;
    text-decoration: none;
    background-color: #707070;
}

.modelReport-totalErrorType
{
    float:left;
    width:155px;
    padding-top:1.25em;
    font-size:70%;
    text-align:left;
}

.modelReportInfoError
{
    margin-left:1em;
}

.modelReport-totalErrorType img
{
    float:left;
    width:17px;
    height:17px;
    padding-right:0.25em;
}

.modelReport-totalErrorType input[type=submit]
{
    padding-right:0.25em;
    font-size:95%;
    letter-spacing: 0.1em;
    border:none;
    border:1px solid #404040;
}

.modelReport-totalErrorType input[type=submit]:hover
{
    cursor:pointer;
    color:#FFFFFF;
    background-color:#707070;
}

.modelReport-grayBack
{
    padding-top:0.5em;
    padding-bottom:0.5em;
    font-size:100%;
    color:#FFFFFF;
    background-color:#707070;
}

.totalValidationGreen
{
    background-color: #00cc00;
    color:#FFFFFF;
}

.totalValidationRed
{
    background-color: #cc0000;
    color:#FFFFFF;
}

.modelReport-item-name,
.modelReport-item-value,
.modelReport-item-message,
.modelReport-item-img
{
    line-height:20px;
    padding:0.25em;
    font-size:80%;
    text-align: left;
    border-left:1px solid #CCCCCC;
}

.modelReport-item-img
{
    width:8%;
    color:#FFFFFF;
    background-color:#707070;
    border:none;
}

.modelReport-item-img img
{
    float:left;
    width:17px;
    height:17px;
    padding-top:0.25em;
    padding-left:0.25em;
}

.modelReport-item-info
{
    float:left;
    width:90%;
    line-height:20px;
    font-size:80%;
    text-align:left;
}

.modelReport-severe
{
    color:#FFFFFF;
    background-color: #e60000;
}

.modelReport-error
{
    color:#FFFFFF;
    background-color: #ff1a1a;
}

.modelReport-warning
{
    color:#000000;
    background-color: gold;
}

.modelReport-info
{
    color:#000000;
    background-color: lightskyblue;
}

.modelReport-item-info img
{
    float:left;
    width:15px;
    height:15px;
    padding-left:1.5em;
    padding-right:0.5em;
    border:none;
}

.modelReport-item-name
{
    width:21.5%;
}

.modelReport-item-value
{
    width:14%;
}

.modelReport-item-message
{
    width:53%;
}

.modelReport-item-type
{
    float:left;
    line-height:15px;
    padding-top:0.25em;
    padding-left:0.25em;
}