.home
{
    width:98%;
    margin: 0 auto;
}

.homeTitle
{
    width:50%;
    height:auto;
    margin: 0 auto;
    margin-top:2em;
    padding-bottom:1em;
    font-weight:bold;
    font-size:120%;
    text-align:center;
    border-bottom:1px solid #CCCCCC;
}